p{
    margin-top: 0px;
    margin-bottom: 0px;
}
body{
    margin: 0px;
    padding-top: 42px;
    padding-left: 50px;
    background-color: rgb(246, 245, 245);
    font-family:Roboto , Araial;
}